/* CSS Document */

	
	
.product-nav {
	
	background: transparent;
	
	.nav-list{
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		margin-bottom: 0;
		
		
		li{			
			padding: 1rem 2rem .7rem;
			border: 1px solid transparent;
			background-color: #ff6600;
			margin-right: .4rem;
			color: #fff;
			cursor: pointer;
      
			&.tab-active{								
				background-color: #fff;
				color: #333;				
			}			
      
      &:hover{
        background-color: #636160;
        
      }
		}
		
	}
	
	
}	