table.main{

  .wawa_logo{
    margin-top: 7mm;
    padding-top: 7mm;
    width:50mm;
    height: auto;
    
    
  }
  
  .h1{
    border-bottom:1px solid #ccc;
    margin: 0;
    padding: 0;    
    line-height: 20pt;
    font-size: 15pt;
  }
  
  .excerpt{    
    margin: 0;
    padding: 0;    
    line-height: 12pt;
    font-size: 9pt;
  }
    
  tr.header{
    border-bottom: 1px solid black;
    
    td.addr{
      width: 50%;
      
      p{        
        font-size:8pt;
        line-height: 11pt;
        color: #262626;
      }
    }    
  }
  
  tr.body{    
    td.left{
      .section-1{
        .product_thumbnail{
          width: 70mm;
        }
        
      } 
    }
    
    td.right{
      
      table.attr-table{
        font-size:8pt;        
        width: 80mm;
        
        
        td{
          line-height: 15pt;
          border-bottom:1px solid #CCC;
        }
        
        td.attr-name{
          width: 35mm;         
        }
        
        td.attr-value{
          width: 45mm;
        }
      }
    }
  }
  
  tr.extended-prices-title{
    h3{
      text-align: center;
    }
  }
  
  tr.extended-prices{
    td.margin{
      width: 25mm;      
    }
    td.center{
      
      text-align: center;
      
      table{
        display: inline-block;
      }
    }
  }
  
  table.extended{
    
    width:120mm;    
    
    tr.header{
      td{
        background-color: #ff6600;
        font-size:12pt;
        line-height: 22pt;
        color: white;        
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        
        &:first-child{
          border-left: 1px solid gray;
        }
        
        &:last-child{
          border-right: 1px solid gray;
        }
        
        
        
      }
    }
    
    tr.ext-line{
      
      td{
        font-size: 10pt;
        line-height: 15pt;
        border-bottom: 1px solid gray;
        
        &:first-child{
          border-left: 1px solid gray;
        }
        &:last-child{
          border-right: 1px solid gray;
        }
      }
      
    }
    
    tr{
      td{
        p{
          display: block;
          text-align: center;
        }
      }
    }
    
  }
  
  .go-to-btn{
    display: block;
    width:150mm;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-size: 12pt;
    line-height: 20pt;
  }

}

