/* CSS Document */

.product-send-app{
  margin-bottom: 2rem;
  
  .product-send-form{
    background: #ff6600;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    
    label{
      width:100%;  
      color: white; 
      
      &.error-lab{
        background-color: white;
        padding: .4rem;
        border-radius: 2px;
        color:red;
        font-size: 1.4rem;
        margin-bottom: 0.3rem !important;
      }
    }
    
    input{
      width: 100%;
      margin-bottom: 1rem;
      padding: .4rem;
      font-size: 1.5rem;
      height: unset; 
      
      
    }
    
    .g-recaptcha{
      align-self:flex-end;
      
      &.busy{
        background-color: #ff6600;        
        >span{
          display: flex;
          justify-content: center;
          align-items: baseline;
          
          span{
            font-weight: bold;
          }
          
          i{
            font-size: 2rem;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
        }
      }
    }
    
  }    

  .info-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    background-color: #ff6600;
    color: white;
    padding: 1rem;
    cursor: pointer; 

    i{
      font-size: 3rem;
      background-color: white;
      line-height: 100%;
      border-radius: 100px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 5.6rem;
      height: 5rem;
      color: #636160;
      margin-right: 1rem;
    }

    span, a{
      font-size:1.7rem;
      color: white;

      text-decoration: none;
    }


    &.waiting{
      background-color: #229ddb;

      i{
        background-color: transparent;
        color:white;
      }

    }

    &.ready{
      background-color: #338A15;
    }

    &.error{
      background-color: #D90000;
    }

    &:hover{
      background-color: #636160;
    }

  }

  .info-alert {
        background: red;
    margin-right: 2.7rem;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #338a15;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
  }
  
}
