/* CSS Document */

.product-templates {
	
	.print-only{
		display: none;
	}
	
	section {
		
		p,li {
			margin-bottom: 1rem;
		}
	
		margin-bottom: 3rem;
		
		ul{
			padding-left: 2.5rem;
			li{
				list-style: disc;
				line-height: 1.3;
    			font-size: 1.35rem;
				color: rgb(118, 118, 118);
			}	
		}
		
		
		h3{
			font-size: 1.9rem;
    		color: #ff6600;
			
			> span{
				text-transform: capitalize;
				font-size: 1.5rem;
			}
		}
		
	}
	
	.template-files{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		
		a {
			padding: 1rem;
		}
	}
	
	.right-col{
		
		h3{
			text-transform: capitalize;
			
		}
	}
} 