<div class="variations-form" v-if="visible">
		
	<div class="header">
		<span class="lp">1</span>
		<span class="label">Wybierz parametry</span>
	</div>
		
		
		<!--Format-->
		<ginput 
			:attribute="product_attr_data.attribute_pa_format"
			:attr_name="'attribute_pa_format'"
			:input_settings="input_settings.attribute_pa_format"
			:value="variation_data.attribute_pa_format" :name="'attribute_pa_format'">
		</ginput>
		
		
		<!--Podłoże-->
		<ginput 
			:attribute="product_attr_data.attribute_pa_podloze"
			:attr_name="'attribute_pa_podloze'"
			:input_settings="input_settings.attribute_pa_podloze"
			:value="variation_data.attribute_pa_podloze" :name="'attribute_pa_podloze'">
		</ginput>
	
	
		
	
		
			
				
		
	
</div>